.cash_account_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3%;
}

.main_heading_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  
  .main_heading_div > img {
    width: 30px;
    height: 30px;
    color: #2d2d2d;
    cursor: pointer;
  }
  
  .main_heading_div > h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #2d2d2d;
    width: 190px;
    height: 24px;
  }
  
  .cash_account_balance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: -2%;
    text-align: justify;
  }
  
  .cash_account_balance > h1 {
    width: 200px;
    height: 20px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #2d2d2d;
    margin-top: 10px;
    margin-left: 12px;
  }
  
  .cash_p {
    width: 220px;
    height: 14px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #757575;
    margin-top: 10px;
  }

  .account_balance_selection_currency{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 50px;
  margin-top: 10px;
  margin-left: 12px;
background-color: white;
}

.account_balance_selection_currency > select {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #f6f6f6;
  color: #757575;
  text-indent: 10px;
  /* Below is the code of styling the dropdown icon: */
  appearance: none;
  padding-right: 15px;
  background-image: url("https://icons.veryicon.com/png/o/miscellaneous/8atour/filter-arrow-down.png");
  background-position: calc(100% - 3px) center;
  background-size: 15px;
  background-repeat: no-repeat;

}

.account_balance_selection_currency > input {
  width: 490px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  font: 18px;
  background-color: #f6f6f6;
  margin-left: 10px;
}
  
  .cash_account_balance > input {
    width: 600px;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    font: 18px;
    margin-top: 10px;
  }
  

  .add_cash_btn {
    background-color: #4799a6;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    color: white;
    text-align: center;
    border: 1px solid #4799a6;
    margin: 20px 0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
  }

  .add_cash_btn:hover {
    background-color: black;
    border-radius: 20px;
    border: 2px solid white;

  }

  .right_arrow_icon{
  visibility: hidden;
  }

  /* ___________________________Media Query For 320px ______________________________ */

@media (max-width: 320px) {
  .cash_account_main_div {
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .main_heading_div {
    width: 100%;
    max-width: 320px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    width: 190px;
    height: 24px;
    font-size: 16px;
  }

  .cash_account_balance {
    max-width: 320px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 12px;
  }

  .cash_account_balance > h1 {
    max-width: 320px;
    width: 180px;
    font-size: 14px;
  }

  .cash_p{
    max-width: 320px;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;

  }

  .account_balance_selection_currency{
   
    max-width: 320px;
    width: 100%;
    height: auto;
  }
  
  
  .account_balance_selection_currency > select {
    width: 90px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
  }
  
  .account_balance_selection_currency > input {
    width: 190px;
    height: 50px;
  }

  .cash_account_balance > input {
    max-width: 290px;
    height: 50px;
    font-size: 14px;
    margin-left: 10px;
  }

  .add_cash_btn {
    max-width: 280px;
    height: 50px;
    display: block;
    margin: 10px 0;
    margin-left: 15px;
  }
}

/* ___________________________Media Query For 425px ______________________________ */

@media (min-width:321px) and (max-width: 425px) {
  .cash_account_main_div {
    width: 100%;
    max-width: 425px;
    height: auto;
    overflow: hidden;
  }

  .main_heading_div {
    width: 100%;
    max-width: 425px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    width: 190px;
    height: 24px;
    font-size: 16px;
  }


  .cash_account_balance {
    max-width: 425px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 6px;
  }

  .cash_account_balance > h1 {
      max-width: 425px;
      width: 180px;
      font-size: 14px;
    }
  
  .cash_p{
    max-width: 425px;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    margin-left: 12px;
    text-align: left;

  }
  .account_balance_selection_currency{
   
    max-width: 360px;
    width: 100%;
    height: auto;
  }
  
  
  .account_balance_selection_currency > select {
    width: 100px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
  }
  
  .account_balance_selection_currency > input {
    max-width: 240px;
    height: 50px;
  }
  
  .cash_account_balance > input {
    max-width: 350px;
    height: 50px;
    font-size: 15px;
    margin-left: 10px;

  }

  .add_cash_btn {
    max-width: 300px;
    height: 50px;
    margin: 20px;
  }
}

/* ___________________________Media Query For 768px ______________________________ */

@media (min-width:426px) and (max-width: 768px) {
  .cash_account_main_div {
    width: 100%;
    max-width: 768px;
    height: auto;
  }

  .main_heading_div {
    width: 100%;
    max-width: 768px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    width: 200px;
    height: 24px;
  }

  .cash_account_balance {
    max-width: 768px;
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-left: 12px;
  }

  .cash_account_balance > h1 {
    max-width: 100%;
    width: 190px;
    font-size: 16px;
  }

  .cash_p{
    font-size: 14px;
    margin-left: 15px;
    width: 500px;
    margin-top: 12px;
    text-align: left;
  }

  .account_balance_selection_currency{
    max-width: 510px;
    width: 100%;
    height: auto;
  }
  
  
  .account_balance_selection_currency > select {
    width: 100px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
  }
  
  .account_balance_selection_currency > input {
    max-width: 400px;
    height: 50px;
    width: 100%;
  }
  .cash_account_balance > input {
    max-width: 500px;
    height: 50px;
    margin-left: 10px;
    width: 100%;
  }

  .add_cash_btn {
    max-width: 400px;
    height: 50px;
    margin: 20px;
  }
}
