.App {
  text-align: center;
  overflow:visible;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Below is the CSS of Second Screen Inner:  */
.bottom-sheet-area {
  padding: 10px;
}
.openModal:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
}
.proceeds-modal {
  position: absolute;
  top: 100px;
  right: 100px;
  left: 100px;
  height: auto;
  background-color: white;
  z-index: 1;
  border-radius: 16px;
}
.header-app {
  position: relative;
  width: 100%;
}
#con {
  height: 90%;
}
#content {
  height: calc(90%); /* Changed this height */
  padding-bottom: 20px;
  background: linear-gradient(179.97deg, #ffffff 0.46%, #f2f2f2 31.04%);
  margin-bottom: 50px;
  padding-top: 100px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.whathaveCard {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 16px;
}
.header-padding {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.acc-list {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: auto;
  margin: 10px;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.acc-item {
  width: 124px;
  margin: 5px;
}
.quickAdd {
  margin-top: 20px;
  margin-left: 10px;
}
.categorySect {
  margin-top: 90px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.chartSect {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.othersSec {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 90px;
}
.yoursTrSec {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.budgetSect {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.monthsTab {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

