* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

#skip_btn {
  background-color: #edf6f8;
  color: #4799a6;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #4799a6;
}

#skip_btn:hover {
  background-color: #4799a6;
  color: #edf6f8;
  font-size: 20px;
  border-color: #edf6f8;
}

#next_btn {
  background-color: #4799a6;
  color: #edf6f8;
  font-size: 18px;
  border-color: #edf6f8;
}

#next_btn:hover {
  background-color: #edf6f8;
  color: #4799a6;
  font-size: 20px;
  border-color: #4799a6;
}

#getStarted_btn {
  background-color: #edf6f8;
  color: #4799a6;
  font-size: 18px;
  border: 1px solid #4799a6;
  display: block;
  margin: 5px auto;
  /* transition: font-size,color,background-color 2s ease-in 2s; */
}

#getStarted_btn:hover {
  background-color: darkgreen;
  color: whitesmoke;
  font-size: 20px;
  border-color: white;
  display: block;
  margin: 5px auto;
}


