.add_bank_account_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 3%;
}

.main_heading_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
}

.main_heading_div > img {
  width: 30px;
  height: 30px;
  color: #2d2d2d;
  cursor: pointer;
}

.main_heading_div > h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2d2d2d;
  width: 190px;
  height: 24px;
}

.account_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: auto;
  margin-top: 20px;
  margin-left: -2%;
}
.account_title > h1 {
  width: 200px;
  height: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2d2d2d;
  margin: 10px;
}

.account_title > p {
  width: 400px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #e42538;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
  margin-top: 3px;
  margin-left: 10px;
}

.account_title_inner_div {
  width: 600px;
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.account_title_inner_div > img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.account_title_inner_div > input {
  width: 500px;
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin-left: 10px;
}

.account_amount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: auto;
  margin-top: 20px;
  margin-left: -2%;
  text-align: left;

}

.account_amount > h1 {
  width: 400px;
  height: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2d2d2d;
  margin-top: 10px;
  margin-left: 10px;
}

.account_amount > p {
  width: 350px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #757575;
  margin: 10px;
}

.account_amount > input {
  width: 600px;
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.account_balance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: auto;
  margin-top: 20px;
  margin-left: -2%;
  text-align: left;
}

.account_balance > h1 {
  width: 200px;
  height: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2d2d2d;
  margin: 10px;
}

.account_balance > p {
  width: 350px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: #757575;
  margin-top: 10px;
  margin-left: 10px;
}



.account_balance_selection_currency{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 50px;
  margin-top: 10px;
  margin-left: 12px;
background-color: white;
}

#amount_warning_p{
  width: 200px;
  height: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.4px;
  color: #e42538;
  margin-top: 10px;
  margin-left: 10px;
}

.account_balance_selection_currency > select {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #f6f6f6;
  color: #757575;
  text-indent: 10px;
  /* Below is the code of styling the dropdown icon: */
  appearance: none;
  padding-right: 15px;
  background-image: url("https://icons.veryicon.com/png/o/miscellaneous/8atour/filter-arrow-down.png");
  background-position: calc(100% - 3px) center;
  background-size: 15px;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-burn; */

}

.account_balance_selection_currency > input {
  width: 490px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  font: 18px;
  background-color: #f6f6f6;
  margin-left: 10px;
}




.account_opening_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: auto;
  margin: 20px 0;
  cursor: pointer;
  padding: 10px 0;
}

.add_accounts_inner_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36%;
  height: auto;
}

.add_accounts_inner_div > img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.add_accounts_inner_div > p {
  width: 180px;
  height: 48px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #2d2d2d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 2%;
}

.left_side {
  border: 2px solid #4799a6;
  border-radius: 8px 0px 0px 8px;
}

.left_side > h5 {
  color: #4799a6;
  margin-top: 3%;
}

.right_side {
  border: 1px solid #D7D7D7;
  border-radius: 0px 8px 8px 0px;
}

.right_side > h5 {
  color: #e42538;
  margin-top: 3%;
}


.add_account_btn {
  background-color: #4799a6;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  color: white;
  text-align: center;
  border: 1px solid #4799a6;
  margin: 20px 0;
  cursor: pointer;
  margin-left: -15%;
  font-size: 16px;
}

.add_account_btn:hover {
  background-color: #e42538;
  border-radius: 15px;
  width: 400px;
  height: 50px;
  color: white;
  font-size: 14px;
  border: none;
}

.right_arrow_icon{
  visibility: hidden;
}
/* ___________________________Media Query For 320px ______________________________ */

@media (max-width: 320px) {
  .add_bank_account_main_div {
    max-width: 320px;
    height: auto;
    overflow:hidden;
    margin-left: 0;
  }

  .main_heading_div {
    width: 100%;
    max-width: 320px;
  }

  .main_heading_div > img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    font-size: 16px;
    line-height: 20px;
  }


  .account_title {
   max-width: 320px;
    width: 100%;
    margin-left: 0;
  }
  .account_title > h1 {
    max-width: 300px;
    height: 20px;
    font-size: 14px;
  }

  .account_title > p {
    max-width: 300px;
    height: 14px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .account_title_inner_div {
    /* total width = 310px */
    max-width: 304px;
    margin-left: 6px;
    width: 100%;
  }
  .account_title_inner_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .account_title_inner_div > input {
    max-width: 280px;
    margin-left: 10px;
    text-indent: 10px;
    font-size: 14px;
  }

  .account_amount {
    max-width: 320px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_amount > h1 {
    max-width: 320px;
    width: 290px;
    font-size: 14px;
  }

 

  .account_amount > input {
    max-width: 304px;
    height: 50px;
    font-size: 14px;
    width: 100%;
    text-indent: 10px;
    margin-left: 6px;
  }

  .account_balance {
    max-width: 320px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_balance > h1 {
    max-width: 320px;
    width: 180px;
    font-size: 14px;
  }

  .account_balance > p {
    max-width: 320px;
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
  }

  .account_balance_selection_currency{
   
    max-width: 304px;
    width: 100%;
    height: auto;
    margin-left: 6px;
  }
  
  
  .account_balance_selection_currency > select {
    width: 80px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
    background-size: 13px;
  }
  
  .account_balance_selection_currency > input {
    max-width: 220px;
    height: 50px;
  }
  
  #amount_warning_p{
    max-width: 320px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }


  .account_opening_div {
    width: 100%;
    max-width: 310px;
    height: auto;
    margin-left: 30px;
  }

  .add_accounts_inner_div {
    width: 46%;
    max-width: 310px;
    height: auto;
  }

  .add_accounts_inner_div > img {
    width: 20px;
    height: 20px;
    margin-top: 8px;
  }

  .add_accounts_inner_div > p {
    width: 130px;
    height: 55px;
    font-size: 11px;
    margin-top: 5%;
  }

  .left_side > h5 {
    color: #4799a6;
    margin-top: 5%;
    font-size: 12px;
  }

  .right_side > h5 {
    color: #e42538;
    font-size: 12px;
    margin-top: 5%;
  }


  .add_account_btn {
    max-width: 280px;
    height: 50px;
    display: block;
    margin: 20px auto;
  }
}


/* ___________________________Media Query For 400px ______________________________ */

@media (min-width:331px) and (max-width: 400px) {
  .add_bank_account_main_div {
    max-width: 400px;
    height: auto;
    overflow: hidden;

  }

  .main_heading_div {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    font-size: 16px;
  }


  .account_title {
   max-width: 400px;
    width: 100%;
    margin-left: 0;
  }
  .account_title > h1 {
    max-width: 350px;
    height: 20px;
    font-size: 14px;
  }

  .account_title > p {
    max-width: 350px;
    height: 14px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .account_title_inner_div {
    /* total width 358px */
    max-width: 348px;
    margin-left: 10px;
    width: 100%;
  }
  .account_title_inner_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .account_title_inner_div > input {
    max-width: 318px;
    margin-left: 10px;
    text-indent: 10px;
    font-size: 14px;
  }

  .account_amount {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_amount > h1 {
    max-width: 350px;
    width: 290px;
    font-size: 14px;
  }

  .account_amount > input {
    max-width: 348px;
    height: 50px;
    font-size: 14px;
    width: 100%;
    text-indent: 10px;
  }

  .account_balance {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_balance > h1 {
    max-width: 350px;
    width: 180px;
    font-size: 14px;
  }

  .account_balance > p {
    max-width: 350px;
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
  }

  .account_balance_selection_currency{
    max-width: 358px;
    width: 100%;
    height: auto;
    margin-left: 8px;
  }
  
  
  .account_balance_selection_currency > select {
    width: 100px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
  }
  
  .account_balance_selection_currency > input {
    max-width: 240px;
    height: 50px;
  }
  
  #amount_warning_p{
    max-width: 350px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }


  .account_opening_div {
    width: 100%;
    max-width: 370px;
    height: auto;
    margin-left: 30px;
  }

  .add_accounts_inner_div {
    width: 45%;
    max-width: 360px;
    height: auto;
  }

  .add_accounts_inner_div > img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
  }

  .add_accounts_inner_div > p {
    width: 140px;
    height: 60px;
    font-size: 12px;
    margin-top: 5%;
  }

  .left_side > h5 {
    color: #4799a6;
    margin-top: 5%;
  }

  .right_side > h5 {
    color: #e42538;
    margin-top: 5%;
  }


  .add_account_btn {
    max-width: 300px;
    height: 50px;
    display: block;
    margin: 20px auto;
  }
}




/* ___________________________Media Query For 425px ______________________________ */

@media (min-width:401px) and (max-width: 450px) {
  .add_bank_account_main_div {
    max-width: 425px;
    height: auto;
    overflow: hidden;
  }

  .main_heading_div {
    width: 100%;
    max-width: 425px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    font-size: 16px;
  }


  .account_title {
   max-width: 425px;
    width: 100%;
    margin-left: 0;
  }
  .account_title > h1 {
    max-width: 400px;
    height: 20px;
    font-size: 14px;
  }

  .account_title > p {
    max-width: 400px;
    height: 14px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }

  .account_title_inner_div {
    max-width: 388px;
    margin-left: 8px;
    width: 100%;
  }
  .account_title_inner_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .account_title_inner_div > input {
    max-width: 356px;
    margin-left: 10px;
    text-indent: 10px;
    font-size: 14px;
  }

  .account_amount {
    max-width: 425px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_amount > h1 {
    max-width: 400px;
    width: 290px;
    font-size: 14px;
  }

  .account_amount > input {
    /* total width is = 396px */
    max-width: 388px;
    height: 50px;
    font-size: 14px;
    width: 100%;
    text-indent: 10px;
    margin-left: 8px;
  }

  .account_balance {
    max-width: 425px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .account_balance > h1 {
    max-width: 400px;
    width: 180px;
    font-size: 14px;
  }

  .account_balance > p {
    max-width: 400px;
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
  }

  .account_balance_selection_currency{
   /* total width is = 396px */
    max-width: 388px;
    width: 100%;
    height: auto;
    margin-left: 8px;
  }
  
  
  .account_balance_selection_currency > select {
    width: 100px;
    height: 50px;
    font-size: 12px;    
    background-position: calc(100% - 10px) center;
  }
  
  .account_balance_selection_currency > input {
    max-width: 278px;
    height: 50px;
  }
  
  #amount_warning_p{
    max-width: 400px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }


  .account_opening_div {
    width: 100%;
    max-width: 425px;
    height: auto;
    margin-left: 40px;
  }

  .add_accounts_inner_div {
    width: 45%;
    max-width: 425px;
    height: auto;
  }

  .add_accounts_inner_div > img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
  }

  .add_accounts_inner_div > p {
    width: 150px;
    height: 60px;
    font-size: 12px;
    margin-top: 5%;
  }

  .left_side > h5 {
    color: #4799a6;
    margin-top: 5%;
  }

  .right_side > h5 {
    color: #e42538;
    margin-top: 5%;
  }


  .add_account_btn {
    max-width: 353px;
    height: 50px;
    display: block;
    margin: 20px auto;
  }
}


/* ___________________________Media Query For 768px ______________________________ */

@media (min-width:451px) and (max-width: 768px) {
  .add_bank_account_main_div {
    max-width: 768px;
    height: auto;
    overflow: hidden;
  }

  .main_heading_div {
    width: 100%;
    max-width: 768px;
    height: 40px;
    margin-top: 10px;
  }

  .main_heading_div > img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .main_heading_div > h1 {
    width: 200px;
    height: 24px;
    font-size: 20px;
  }

  .account_title {
   max-width: 768px;
    width: 100%;
    margin-left: 1%;
  }
  .account_title > h1 {
    width: 240px;
    height: 20px;
    font-size: 18px;
  }

  .account_title > p {
    width: 440px;
    height: 14px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .account_title_inner_div {
    max-width: 600px;
    margin-left: 10px;
  }
  .account_title_inner_div > img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .account_title_inner_div > input {
    max-width: 550px;
    margin-left: 10px;
  }

  .account_amount {
    max-width: 768px;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }

  .account_amount > h1 {
    width: 500px;
    font-size: 18px;
  }

  .account_amount > p {
    width: 500px;
    font-size: 14px;
    margin-top: 10px;
  }

  .account_amount > input {
    max-width: 600px;
    height: 50px;
    font-size: 16px;
  }

  .account_balance {
    max-width: 768px;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }

  .account_balance > h1 {
    width: 500px;
    font-size: 18px;
  }

  .account_balance > p {
    width: 440px;
    font-size: 14px;
    margin-top: 10px;
  }

  .account_balance_selection_currency{
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  
  
  .account_balance_selection_currency > select {
    width: 100px;
    height: 50px;
    font-size: 14px;  
    background-position: calc(100% - 10px) center;
  }

  .account_balance_selection_currency > input {
    max-width: 500px;
    height: 50px;
    font-size: 18px;
  }
  
  #amount_warning_p{
    font-size: 14px;
    width: 500px;
  }

  

  .account_opening_div {
    width: 100%;
    max-width: 768px;
    margin-left: 18px;
  }

  .add_accounts_inner_div {
    width: 40%;
    height: auto;
    max-width: 600px;
  }


  .left_side > h5 {
    color: #4799a6;
    margin-top: 3%;
  }

  .right_side > h5 {
    color: #e42538;
    margin-top: 3%;
  }

  .add_accounts_inner_div > img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .add_accounts_inner_div > p {
    width: 200px;
    height: 65px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2%;
  }

  .add_account_btn {
    max-width: 500px;
    height: 50px;
    display: block;
    margin: 20px auto;
  }
}
