@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

.AccountItem-Container {
  display: grid;
  border-radius: 16px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}

.AccountItem-overlay {
  grid-area: 1 / 1;
  border-radius: 16px;
}
.mainGrid-account {
  display: grid;
  grid-template-rows: 1fr 1fr 0.1fr;
  grid-gap: 0.5rem;
  grid-template-areas:
    "info info info"
    "spend iconArea iconArea"
    "deactivate deactivate deactivate";
}
.badge {
  grid-area: deactivate;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30px;
}
.badge > p {
  margin: 0px;
  width: 92px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600px;
  letter-spacing: 0.4px;
  background-color: #ffffff80;
  color: #757575;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.AccountItem-info-account-area {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
}
.AccountItem-info-account-area > p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;
  cursor: pointer;

  /* White */

  color: #ffffff;
}

.AccountItem-available-to-spend-area {
  grid-area: spend;
  padding-left: 30px;
}
.AccountItem-available-to-spend-area > .heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* White */
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
}
.AccountItem-spend-amount {
  display: flex;
  align-items: baseline;
}
.AccountItem-spend-amount > .currency {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* identical to box height, or 140% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  color: #ffffff;
  margin-right: 5px;
}
.AccountItem-spend-amount > .amount {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;

  line-height: 40px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;

  /* White */

  color: #ffffff;
}
.AccountItem-account-icon-area {
  grid-area: iconArea;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}
.AccountItem-account-icon-area-btn-main {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  border: 0px;
  background: #ffffff;
  height: 56px;
  width: 56px;
}
.AccountItem-moreArea {
  background-color: transparent;
  cursor: pointer;
}

/* ____________________Yahan sa meri CSS Hai_____________________________________ */

.title {
  width: 100%;
  height: auto;
}

.title > h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2d2d2d;
}

.title > #hr {
  max-width: 375px;
  border: 1px solid #d7d7d7;
  margin-top: 30px;
}

.accounts_div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  background-color: #e5e5e5;
}
.accounts_div > h2 {
  width: 190px;
  height: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
}
#accounts_btn > #plus_icon {
  color: #4799a6;
  width: 20px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#accounts_btn {
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px 8px 8px;
  gap: 2px;
  border: 2px solid white;
  background-color: #ffffff;
  box-shadow: 3px 3px 15px whitesmoke;
  border-radius: 28px;
  cursor: pointer;
}

/* #accounts_btn > p {
  width: 115px;
  height: 20px;
  font-size: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #2d2d2d;
  text-decoration: none;
  flex: none;
  order: 1;
  flex-grow: 0;
} */

#accounts_btn:hover {
  color: black;
  background-color: white;
  width: 200px;
  height: 45px;
}

/* __________________Media Query of 320px Below:________________________________ */

@media (max-width: 320px) {
  .title {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
  }

  .title > #hr {
    max-width: 300px;
    display: block;
    margin: 15px auto;
  }

  .title > h1 {
    font-size: 18px;
    text-align: center;
    max-width: 100%;
  }

  .accounts_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    height: max-content;
    margin: 20px 0;
  }
  .accounts_div > h2 {
    max-width: 150px;
    font-size: 15px;
  }
  #accounts_btn > #plus_icon {
    color: #4799a6;
    width: 20px;
    height: 20px;
  }
  #accounts_btn {
    width: 150px;
    height: 35px;
    border: 2px solid white;
    margin: 10px 5px;
  }

 

  #custom_div {
    max-width: 280px;
    margin-top: 15px;
    margin-left: 10px;
  }
  .AccountItem-account-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .AccountItem-account-icon-area-btn-main {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 60px;
    width: 60px;
  }
  .AccountItem-info-account-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
}

/* ______________________Media Query of 425px Below:_______________________________ */

@media (min-width: 321px) and (max-width: 425px) {
  .title {
    max-width: 425px;
    margin-top: 10px;
  }
  .title > #hr {
    display: block;
    margin: 15px auto;
    max-width: 400px;
  }

  .title > h1 {
    font-size: 22px;
    text-align: center;
    max-width: 100%;
  }

  .accounts_div {
    max-width: 380px;
    height: 50px;
    margin: 20px 6px;
  }
  .accounts_div > h2 {
    font-size: 20px;
  }
  #accounts_btn > #plus_icon {
    color: #4799a6;
    width: 25px;
    height: 25px;
  }
  #accounts_btn {
    width: 150px;
    height: 35px;
    border: 2px solid white;
    margin: 10px;
  }

  #custom_div {
    max-width: 380px;
    margin-top: 15px;
    margin-left: 5px;
  }
  .AccountItem-account-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .AccountItem-account-icon-area-btn-main {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 60px;
    width: 60px;
  }
  .AccountItem-info-account-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
}

/* ______________________Media Query of 768px Below:_______________________________ */

@media (min-width: 426px) and (max-width: 768px) {
  .title {
    max-width: 700px;
    margin-top: 10px;
  }
  .title > #hr {
    display: block;
    margin: 15px auto;
    max-width: 600px;
  }

  .title > h1 {
    font-size: 23px;
    text-align: center;
    max-width: 100%;
  }

  .accounts_div {
    max-width: 600px;
    height: auto;
    margin: 20px 16px;
  }
  .accounts_div > h2 {
    font-size: 20px;
  }
  #accounts_btn > #plus_icon {
    color: #4799a6;
    width: 25px;
    height: 25px;
  }
  #accounts_btn {
    width: 200px;
    height: 35px;
    margin: 10px;
    text-align: center;
  }

  #custom_div {
    max-width: 600px;
    margin-top: 15px;
    margin-left: 16px;
  }
  .AccountItem-account-icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .AccountItem-account-icon-area-btn-main {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 60px;
    width: 60px;
  }
  .AccountItem-info-account-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-top: 10px;
    width: 100%;
    max-width: 600px;
  }
}